<div class="updata-file file-js">
    将图片拖放到这里
</div>
<div class="dir-ctrl">
    <ul class="title clearfix">
        <li>图片</li>
        <li>位置</li>
        <li>重复</li>
    </ul>
    <ul class="list clearfix">
        <li ng-repeat="item in liArray">
            <span class="icon" change-icon><img src="{{ item }}" alt="" /></span>
            <span>
                <input type="text" class="top" move-to />
                <input type="text" class="right" move-to />
                <input type="text" class="bottom" move-to />
                <input type="text" class="left" move-to />
            </span>
            <span></span>
        </li>
    </ul>
</div>
